<template name='layout'>
	<div class="container">
		<div class="rafter">
			<div class="raf1">
			</div>
			<div class="raf2">
			</div>
			<div class="raf3">
			</div>
			<div class="raf4">
			</div>
			<div class="raf5">
			</div>
			<div class="raf6">
			</div>
			<div class="raf7">
			</div>
			<div class="raf8">
			</div>
		</div>
		<div class="infoPanel">
			<div class="barCase">
				{{> sidebar}}
			</div>
			<div class="">
				<div class="main">
					{{> yield}}
				</div>
			</div>
		</div>
	</div>
</template>