<template name="mainDisplay">
	<div class="row">
		<div class="col-sm-2 alarmInfo">
			<p>ALARM</p>
		</div>
		<div class="col-sm-10 dateInfo">
			<h1>{{date}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9 timeStamp">
			<h1>{{time}}</h1>
		</div>
		<div class="col-sm-3 timeDeets">
			<div class="row blip1">
				<h3>{{milTime}}</h3>
			</div>
			<div class="row blip2">
				<h3>{{starDate}}</h3>
			</div>
			<div class="row blip3">
			</div>
			<div class="row blip4">
			</div>
		</div>
	</div>
</template>