<template name="sidebar">
		<div class="row b1">
			<p>{{greeting}}</p>
		</div>
		<div class="row space">
		</div>
		<div class="row b2">
			<p>2016</p>
		</div>
		<div class="row space">
		</div>
		<a href="{{pathFor 'newAlarm'}}">
			<div class="row b5">
				<p>Alarm</p>
			</div>
		</a>
		<div class="row space">
		</div>
		<div class="row b6">
			<p>Systems</p>
		</div>
		<div class="row space">
		</div>
		<div class="row b7">
			<p>Schedule</p>
		</div>
		<div class="row space">
		</div>
		<div class="row b8">
			<p>Weather</p>
		</div>
</template>