@import url(https://fonts.googleapis.com/css?family=Homenaje);
@import "/{meta:susy}/susy";

// Configuring Susy Defaults
$susy: (
	columns: 12,
);

//Add clearfix for container class
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Font Type
$font-stack: "Homenaje", sans-serif;

body {
	background-color: black;
	font-family: $font-stack;
	font-variant: small-caps;
	letter-spacing: .125px;
	color: black;
}

h3 {
	color: #FFFF99;
}

//Designate susy container
.container {
	@include container;
	@extend .clearfix;
}

//RAFTER
.rafter {
	@extend .clearfix;
}

.raf {
	height: 20px;
}

.raf1 {
	@extend .raf;
	background-color: #CC99CC;
	border-radius: 25px 0px 0px 0px;
	@include span(3 of 12);
}

.raf2 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf3 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf4 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf5 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf6 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf7 {
	@extend .raf;
	background-color: #CC6666;
	@include span(1 of 12);
}

.raf8 {
	@extend .raf;
	background-color: #CC99CC;
	@include span(3 of 12 last);
}

//SIDEBAR

.barCase {
 	@extend .clearfix;
 	@include span(3 of 12);
}


.bar {
	height: 50px;
	@include span(3 of 3);
	margin-bottom: gutter(8);
	p {
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin: 10px auto auto;
		font-size: 30px;
		line-height: 93%;
	}
}

.b1 {
	@extend .bar;
	height: 40px;
	background-color: #CC99CC;
	p {
		font-size: 28px;
		margin: 5px auto;
	}
}

.b2 {
	@extend .bar;
	background-color: #9999CC;
	p {
		font-size: 38px;
		letter-spacing: 5px;
	}
}

a:hover {
	text-decoration: none;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:link {
	text-decoration: none;
}

.b5 {
	@extend .bar;
	background-color: #CC6666;
}

.b6 {
	@extend .bar;
	background-color: #CC6699;
}

.b7 {
	@extend .bar;
	background-color: #9999FF;
}

.b8 {
	@extend .bar;
	background-color: #FF9966;
}

.b9 {
	@extend .bar;
	background-color: #FFCC99;
}

//INFOPANEL
.infoPanel {
	margin: 0px auto;
}

.main {
		@include span(9 last);
}

.alarmInfo {
	margin-top: 10px;
	height: 30px;
	border-radius: 25px;
	background-color: #FF0000;
	@include span(2 of 9);
	p {
		color: black;
		font-size: 20px;
		text-align: center;
		letter-spacing: 2px;
		word-spacing: 5px;
	}
}

.dateInfo {
	text-align: right;
	h1 {
		color: #FFFF99;
		font-size: 70px;
		word-spacing: 15px;
		letter-spacing: 1px;
	}
}

.timeDeets {
	@extend .clearfix;
	@include span(12 of 12)
}

.timeStamp {
	@include span(9 of 12);
	h1 {
		color: #FFFF99;
		font-size: 170px;
		letter-spacing: .25px;
		word-spacing: 1px;
		line-height: 90%;
		margin-top: 0px;
	}
}

.blipList {
	@include span(3 of 12 last);
}

.blip {
	background-color: #9999CC;
	border-radius: 25px 0px 0px 25px;
	margin: 8px 0px auto auto;
	height: 40px;
	text-align: center;
	@include span(1 of 1);
	h3 {
		margin-top: 8px;
	}
}

.blip1 {
	@extend .blip;
	background-color: #9999CC;
}

.blip2 {
	@extend .blip;
	background-color: #9999FF;
}

.blip3 {
	@extend .blip;

}


//New Alarm

.alarmSetHeader {
	p {
		font-size: 65px;
		color: #FFFF99;
	}
}


.hourSet {
	select {
		width: auto;
	}
}

.minuteSet {
	select {
		width: auto;
	}
}

.setAlarm {
	margin-top: 30px;
}

.cancelAlarm {
	margin-top: 10px;
}



